<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col w-full h-screen justify-center items-center"
>
  @if (hasError('username', 'required')) {
    <div class="text-red-500">Username is required.</div>
  } @else if (hasError('username', 'minLength')) {
    <div class="text-red-500">Username must be at least 3 characters long.</div>
  } @else if (hasError('username', 'maxLength')) {
    <div class="text-red-500">Username must be at most 20 characters long.</div>
  }
  <div class="border m-1 p-2">
    <label for="username">Username: </label>
    <input class="bg-gray-300" id="username" type="text" formControlName="username" />
  </div>

  @if (hasError('email', 'required')) {
    <div class="text-red-500">Email is required.</div>
  } @else if (hasError('email', 'email')) {
    <div class="text-red-500">Please enter a valid email address.</div>
  }
  <div class="border m-1 p-2">
    <label for="email">Email: </label>
    <input class="bg-gray-300" id="email" type="email" formControlName="email" />
  </div>

  @if (hasError('password', 'required')) {
    <div class="text-red-500">Password is required.</div>
  } @else if (hasError('password', 'minlength')) {
    <div class="text-red-500">Password must be at least 6 characters long.</div>
  }
  <div class="border m-1 p-2">
    <label for="password">Password: </label>
    <input class="bg-gray-300" id="password" type="password" formControlName="password" />
  </div>

  <div class="border m-1 p-2">
    <label for="confirmPassword">Confirm Password: </label>
    <input
      class="bg-gray-300"
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
    />
  </div>
  <button
    [disabled]="registerForm.status === 'INVALID'"
    class="bg-green-400 p-3 rounded-2xl active:scale-75 cursor-pointer disabled:bg-gray-800 disabled:text-gray-500"
  >
    Register
  </button>
</form>
